<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Demo Store</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'catalog_list' %}"><img src="/static/images/bb_logo.png"  class="img-responsive " width="50%" /></a>
            </div>
            <form class="navbar-form navbar-right" action="{% url 'search_product' %}">
            <div class="form-group">
              <input  id="id_q" name="q" type="text" placeholder="Search for over 391 products" value="{{ form.q.value }}" class="form-control" size="50">
              <input id="id_models_0" class="hide" name="models" type="checkbox" value="catalog.product" />
            </div>
            <button type="submit" class="btn btn-info">Search <i class="fa fa-search"></i></button>
          </form>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <div class="list-group">
                    <a href="#" class="list-group-item active">All Categories</a>
                    {% for each in category_list %}
                    <a href="{% url 'view_catalog' each.id %}" class="list-group-item">{{each}}</a>
                    {%endfor%}
                </div>
                <!-- 300x250-->
                <div><a href=""><img src="/static/images/300x250.jpg" class="img-thumbnail" /></a></div>
                <!-- 300x250 -->

            </div>

            <div class="col-md-9">

                
                <div class="row product_detail" >
                    <div class="col-md-3">
                    
                        <img src="{{object.image}}" alt="" class="img-thumbnail" width="100%">
                    
                    </div>
                    <div class="col-md-9">
                        <h2 class="product_title">{{object.name}}</h2>
                        <h5><strong>SKU: </strong>{{object.sku}}</h5>
                        <h5><strong>Manufacture: </strong>{{object.vendor}}</h5>
                        <div><span class="old-price">&#8377; {{object.oldprice}}</span>&nbsp;<span class="new-price"> &#8377; {{object.price}}</span></div>
                        <div>
                        <a href="" class="btn btn-info btn-lg"><i class="fa fa-cart-arrow-down fa-lg"></i> BuyNow</a>
                        </div>
                    

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <h4>Description</h4>
                    <hr/>
                        {{object.description|safe}}
                        <p class="text-justify">In this article, I’d like to reacquaint you with the humble workhorse of communication that is the paragraph. Paragraphs are everywhere. In fact, at the high risk of stating the obvious, you are reading one now. Despite their ubiquity, we frequently neglect their presentation. This is a mistake. Here, we’ll refer to some time-honored typesetting conventions, with an emphasis on readability, and offer guidance on adapting them effectively for devices and screens. We’ll see that the ability to embed fonts with @font-face is not by itself a solution to all of our typographic challenges.</p>
                        <p class="text-justify">In this article, I’d like to reacquaint you with the humble workhorse of communication that is the paragraph. Paragraphs are everywhere. In fact, at the high risk of stating the obvious, you are reading one now. Despite their ubiquity, we frequently neglect their presentation. This is a mistake. Here, we’ll refer to some time-honored typesetting conventions, with an emphasis on readability, and offer guidance on adapting them effectively for devices and screens. We’ll see that the ability to embed fonts with @font-face is not by itself a solution to all of our typographic challenges.</p>

                         <p class="text-justify">In this article, I’d like to reacquaint you with the humble workhorse of communication that is the paragraph. Paragraphs are everywhere. In fact, at the high risk of stating the obvious, you are reading one now. Despite their ubiquity, we frequently neglect their presentation. This is a mistake. Here, we’ll refer to some time-honored typesetting conventions, with an emphasis on readability, and offer guidance on adapting them effectively for devices and screens. We’ll see that the ability to embed fonts with @font-face is not by itself a solution to all of our typographic challenges.</p>
                    </div>
                    
                </div>
                

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy;  Demo Store 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->


</body>

</html>
